@page "/Dashboard"

@using EmptyProject.Areas.CMSCore.Entities;
@using EmptyProject.Areas.CMSCore.Repositories;
@using EmptyProject.Components.Shared;
@inject UserRepository userRepository;
@inject RoleRepository roleRepository;
@inject MenuRepository menuRepository;
@inject RoleMenuRepository rolemenuRepository;
@inject StateContainer StateContainer;
@inject NavigationManager NavigationManager;

<PageTitle>Tablero de control - EmptyProject</PageTitle>

<EmptyProject.Components.Layout.SideNav lstFoldersAndPages="lstFoldersAndPages"></EmptyProject.Components.Layout.SideNav>

<main class="main-content border-radius-lg ">

    <EmptyProject.Components.Layout.NavBarDashboard Pagina="Panel de control"></EmptyProject.Components.Layout.NavBarDashboard>

    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('img/BasicCore/Landscape.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative ml-3">
                        <img src="@User.ProfilePicture"
                             alt="profile_image"
                             class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h4 class="mb-1">
                            @User.Email
                        </h4>
                        @if (User.RoleId == 1)
                        {
                            <p class="mb-0 font-weight-normal text-sm">
                                Root
                            </p>
                        }
                    </div>
                    <hr />
                </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-4 mb-4">
                        Páginas
                    </h4>
                    @if (lstFoldersAndPages != null)
                    {
                        @foreach (folderForDashboard folderandpages in lstFoldersAndPages)
                        {
                            <h6 class="mt-4">
                                <i class="fas fa-folder"></i>&nbsp;
                                @folderandpages.Folder.Name
                            </h6>
                            foreach (itemForFolderForDashboard item in folderandpages.Pages)
                            {
                                <a class="btn btn-dark mx-1 my-1"
                                   href="@item.URLPath">
                                    <i class="fas fa-file"></i>&nbsp;
                                    @item.Name
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<EmptyProject.Components.Layout.FixedPlugin></EmptyProject.Components.Layout.FixedPlugin>
<EmptyProject.Components.Layout.FooterDashboard></EmptyProject.Components.Layout.FooterDashboard>

@code {
    #region Properties
    public EmptyProject.Areas.CMSCore.Entities.User? User { get; set; } = new();

    public List<folderForDashboard> lstFoldersAndPages = new();
    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            if (User.UserId != 0)
            {
                //Logged user

                List<Menu> lstMenu = menuRepository
                                                .GetAll();

                lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);
            }
            else
            {
                //Not logged user

                //Redirect to...
                NavigationManager.NavigateTo("Login");
            }
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);
        }
    }
}